[package]
name = "proxy"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
borsh = { version = "1.5.5", features = ["derive"] }
pinocchio = "0.9.2"
pinocchio-log = "0.5.1"


[package.metadata.solana]
build-target = "sbf"